<%- include('../includes/auth-header') %>
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">

      <% if(message.error){ %>
        <div class="alert alert-danger textr-center">
          <%= message.error %>
        </div>
        <% } %>

          <div class="card radius-10">
            <div class="card-body p-4">
              <div class="text-center">

                <img src="/system/<%= locals.configs['logo'] %>" class="logo-icon" alt="logo icon" style="width: 120px !important;"/>
                <br>
                <h4>Sign In</h4>
                <p>Sign In to your account</p>
              </div>
              <form class="form-body row g-3" method="post" action="/auth/post-login">
                <div class="col-12">
                  <label for="inputEmail" class="form-label">Email/Username</label>
                  <input type="text" class="form-control" id="inputEmail" name="email" required/>
                </div>
                <div class="col-12">
                  <label for="inputPassword" class="form-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword" name="password" required/>
                </div>
                <div class="col-12 col-lg-6"></div>
                <!-- <div class="col-12 col-lg-6 text-end">
                  <a href="/forgot-password">Forgot Password?</a>
                </div> -->
                <div class="col-12 col-lg-12">
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>
  <%- include('../includes/auth-footer') %>