 </div>
        <footer class="my-5">
            <div class="container">
                <div class="text-center">
                    <p class="my-4">Copyright ©
                        <?= date('Y') ?>
                        <?= configs()['system_name'] ?>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!--end wrapper-->

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>